In [1]:
import pandas as pd

In [39]:
df = pd.read_csv(r'C:\Users\Sarowar\Downloads\Compressed\Data-Cleaning-Practical-Examples-master\Data_Cleaning_In_Python_Working_with_Str\dataset.csv')

In [42]:
df.head(4)

,id,Full Name,Date of Birth,email,gender,Job,Company,Country,Salary,Phone,Quote,Income,Income.1
0,1,Salim Pound,2/12/2018,spound0@spotify.com,Male,Editor,Gigashots,Israel,19QtDp5HkyuZZqwwqzYPSSLuA7MXFCwfKL,610-741-3882,Compatible discrete leverage,46476.638080,$46476.6380809961
1,2,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,VP Marketing,Wikivu,Mongolia,17ADLE8HiTj7m1tTbzboLDn7eiZ4TjetzZ,221-725-8860,Grass-roots real-time algorithm,54174.687950,$54174.6879482406
2,3,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Associate Professor,Dabfeed,Vietnam,16ThVxH72YAXWiEBeBZB1WYtXcfJMwUtoB,303-720-8280,Innovative system-worthy definition,5449.873348,$5449.87334818567
3,4,Graeme Croisier,9/29/2018,gcroisier3@parallels.com,Male,Mechanical Systems Engineer,Trudoo,Bosnia and Herzegovina,1JLUVwmjHvxgh53C7Afie3pWbjrYxV9Fnx,673-794-9917,Customer-focused didactic extranet,46784.630880,$46784.6308786279

In [9]:
df['Full Name'].head(4)

0         Salim Pound
1      Madelene Lutas
2    Dolli Swanbourne
3     Graeme Croisier
Name: Full Name, dtype: object

In [10]:
df['Full Name'].str.split(" ")

0              [Salim, Pound]
1           [Madelene, Lutas]
2         [Dolli, Swanbourne]
3          [Graeme, Croisier]
4           [Jillana, Physic]
                ...
995      [Willie, Gravestone]
996       [Samara, McRitchie]
997    [Joceline, Josefowicz]
998          [Andrei, Lestor]
999         [Nikkie, Langtry]
Name: Full Name, Length: 1000, dtype: object

In [11]:
df['Full Name'].str.split(" ").str.get(0)

0         Salim
1      Madelene
2         Dolli
3        Graeme
4       Jillana
         ...
995      Willie
996      Samara
997    Joceline
998      Andrei
999      Nikkie
Name: Full Name, Length: 1000, dtype: object

In [12]:
df['First name']=df['Full Name'].str.split(" ").str.get(0)

In [13]:
df['First name']

0         Salim
1      Madelene
2         Dolli
3        Graeme
4       Jillana
         ...
995      Willie
996      Samara
997    Joceline
998      Andrei
999      Nikkie
Name: First name, Length: 1000, dtype: object

In [15]:
df['Last name']=df['Full Name'].str.split(" ").str.get(1)

In [16]:
df['Last name']

0           Pound
1           Lutas
2      Swanbourne
3        Croisier
4          Physic
          ...
995    Gravestone
996     McRitchie
997    Josefowicz
998        Lestor
999       Langtry
Name: Last name, Length: 1000, dtype: object

In [17]:
df['Full Name'].str.split(" ",n=1,expand=True)

            0           1
0       Salim       Pound
1    Madelene       Lutas
2       Dolli  Swanbourne
3      Graeme    Croisier
4     Jillana      Physic
..        ...         ...
995    Willie  Gravestone
996    Samara   McRitchie
997  Joceline  Josefowicz
998    Andrei      Lestor
999    Nikkie     Langtry

[1000 rows x 2 columns]

In [18]:
df.head(4)

,id,Full Name,Date of Birth,email,gender,Job,Company,Country,Salary,Phone,Quote,Income,Income.1,First name,Last name
0,1,Salim Pound,2/12/2018,spound0@spotify.com,Male,Editor,Gigashots,Israel,19QtDp5HkyuZZqwwqzYPSSLuA7MXFCwfKL,610-741-3882,Compatible discrete leverage,46476.638080,$46476.6380809961,Salim,Pound
1,2,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,VP Marketing,Wikivu,Mongolia,17ADLE8HiTj7m1tTbzboLDn7eiZ4TjetzZ,221-725-8860,Grass-roots real-time algorithm,54174.687950,$54174.6879482406,Madelene,Lutas
2,3,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Associate Professor,Dabfeed,Vietnam,16ThVxH72YAXWiEBeBZB1WYtXcfJMwUtoB,303-720-8280,Innovative system-worthy definition,5449.873348,$5449.87334818567,Dolli,Swanbourne
3,4,Graeme Croisier,9/29/2018,gcroisier3@parallels.com,Male,Mechanical Systems Engineer,Trudoo,Bosnia and Herzegovina,1JLUVwmjHvxgh53C7Afie3pWbjrYxV9Fnx,673-794-9917,Customer-focused didactic extranet,46784.630880,$46784.6308786279,Graeme,Croisier

In [ ]:
####################

In [19]:
df['Income.1']

0      $46476.6380809961
1      $54174.6879482406
2      $5449.87334818567
3      $46784.6308786279
4      $57486.4955595568
             ...
995    $33868.4041871395
996    $46290.7803582873
997    $24202.0325327311
998    $54316.2938322092
999               $56477
Name: Income.1, Length: 1000, dtype: object

In [20]:
df['Income.1'].dtypes

dtype('O')

In [21]:
df['Income.1'].str.replace("$"," ")

0       46476.6380809961
1       54174.6879482406
2       5449.87334818567
3       46784.6308786279
4       57486.4955595568
             ...
995     33868.4041871395
996     46290.7803582873
997     24202.0325327311
998     54316.2938322092
999                56477
Name: Income.1, Length: 1000, dtype: object

In [23]:
df.Salary

0      19QtDp5HkyuZZqwwqzYPSSLuA7MXFCwfKL
1      17ADLE8HiTj7m1tTbzboLDn7eiZ4TjetzZ
2      16ThVxH72YAXWiEBeBZB1WYtXcfJMwUtoB
3      1JLUVwmjHvxgh53C7Afie3pWbjrYxV9Fnx
4      1DaEUNoAWL68pnvThSM5eBYgQMTv9mKyFG
                      ...
995    1NhweMA6xVPvFfYyQfRvusazTkMvuP8kap
996     1t9C9e457Z6efZCZ46Ywm84Xgw79WEBW9
997    13pFvvCyTz5AFNhk7ugp9G6aYA89wVJFns
998    1CTz1ejJhKvKUvV7tMgQ97wCguJpRAVZan
999     1JFRCVhkbkR9TFrS2RKezc7HKoteeUHzR
Name: Salary, Length: 1000, dtype: object

In [24]:
df.Salary.str.contains('17')

0      False
1       True
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: Salary, Length: 1000, dtype: bool

In [32]:
df[df.Salary.str.contains('17')]

,id,Full Name,Date of Birth,email,gender,Job,Company,Country,Salary,Phone,Quote,Income,Income.1,First name,Last name
1,2,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,VP Marketing,Wikivu,Mongolia,17ADLE8HiTj7m1tTbzboLDn7eiZ4TjetzZ,221-725-8860,Grass-roots real-time algorithm,54174.687950,$54174.6879482406,Madelene,Lutas
23,24,Darleen McGinn,4/28/2018,dmcginnn@typepad.com,Female,Recruiter,Zoomzone,France,17akcEzHpYzANrLgrrQ9hhqUZzoh8Nc2J4,808-765-9510,Open-source 24/7 instruction set,36316.415910,$36316.4159062471,Darleen,McGinn
39,40,Gusta Guihen,10/29/2018,gguihen13@weebly.com,Female,Web Designer III,Devpoint,Ethiopia,1EjoBvSiuhn6Aty17TryN8EY2Lu38sLEUv,248-915-0002,Object-based dynamic hierarchy,22426.648760,$22426.6487624744,Gusta,Guihen
58,59,Aron Edworthye,4/29/2018,aedworthye1m@youtu.be,Male,Research Associate,Demivee,Poland,17Fo6oUGLYXZY4zEXA8Hyp8YjiDSspN3fo,132-623-2346,Quality-focused multimedia analyzer,5179.052095,$5179.05209509568,Aron,Edworthye
62,63,Douglas Whistlecroft,2/15/2018,dwhistlecroft1q@networkadvertising.org,Male,Geologist II,Oyoba,Egypt,178iBV4QaFtVXnnQKXX8LAeNCvdttfsjfv,352-861-7284,Enterprise-wide motivating Graphical User Inte...,44469.374680,$44469.3746757408,Douglas,Whistlecroft
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
907,908,Cristin Orpin,4/18/2018,corpinp7@ow.ly,Female,Account Coordinator,Cogidoo,Philippines,172SGZs9RLjBENWyrxMHnoaboC1YD3NX3r,205-563-9864,Versatile web-enabled application,32365.611740,$32365.6117435224,Cristin,Orpin
925,926,Odelia Hintzer,10/27/2018,ohintzerpp@miitbeian.gov.cn,Female,Engineer I,Rooxo,Norway,12gyCyJN17Squ1x6HdBhh9QiP9phEfy946,590-178-9434,Mandatory coherent benchmark,25064.058350,$25064.0583513901,Odelia,Hintzer
965,966,Francklyn Pistol,5/5/2018,fpistolqt@google.it,Male,Systems Administrator III,Shufflebeat,Colombia,17aJBLDh8jGZYzurqhowKCt3kYf2UoWVde,784-781-2745,Versatile well-modulated capacity,15872.066410,$15872.0664082766,Francklyn,Pistol
966,967,Avrit Rosencrantz,10/14/2018,arosencrantzqu@pcworld.com,Female,Civil Engineer,Katz,Croatia,17w3Gvu1hnmjuqs6owebgA7fyauMkzZaLu,496-391-4890,Future-proofed value-added portal,30229.132970,$30229.1329691458,Avrit,Rosencrantz
989,990,Kayley Brothwood,4/12/2018,kbrothwoodrh@ycombinator.com,Female,Marketing Assistant,Edgeclub,Philippines,171dxF9G6LbjsFDiDFio72vbvtaHUX3TrN,479-404-5067,Synergized real-time forecast,40245.979190,$40245.9791863765,Kayley,Brothwood

In [30]:
df.Salary.str.contains('17|19')

0       True
1       True
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: Salary, Length: 1000, dtype: bool

In [43]:
df.Salary.str.match('17|19')

0       True
1       True
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: Salary, Length: 1000, dtype: bool

In [35]:
df[df.Quote.str.match('Operative') ].head(4)

,id,Full Name,Date of Birth,email,gender,Job,Company,Country,Salary,Phone,Quote,Income,Income.1,First name,Last name
7,8,Melina Boon,12/18/2017,mboon7@weibo.com,Female,Assistant Manager,Kanoodle,Colombia,1BRHmiaJur3qG1H4H1WsU8VJLKHwxvqRwF,280-484-7263,Operative coherent frame,8528.031251,$8528.0312509537,Melina,Boon
110,111,Ema Buck,6/29/2018,ebuck32@g.co,Female,Civil Engineer,Linkbridge,China,1KaWubTcNW5yc9YvdSDcAsJ7AKCr3BbUXq,773-675-4907,Operative neutral open system,16302.194280,$16302.1942808313,Ema,Buck
138,139,Hunt Dockrill,10/11/2018,hdockrill3u@chron.com,Male,Chief Design Engineer,Dabvine,Iran,16rhNv6bDooDsyscw72Yq4YQDgbe9kHHn1,243-149-7140,Operative scalable concept,52431.165500,$52431.1655018769,Hunt,Dockrill
164,165,Ron Matherson,9/18/2018,rmatherson4k@amazon.de,Male,Internal Auditor,Rooxo,Philippines,1PuoqLCBv7DNEzy9WxAg72jcKeZxYU1EXc,950-659-1921,Operative clear-thinking hierarchy,28921.048620,$28921.0486159856,Ron,Matherson

In [36]:
df['First name'] + df['email']

0                   Salimspound0@spotify.com
1                     Madelenemlutas1@si.edu
2          Dollidswanbourne2@istockphoto.com
3             Graemegcroisier3@parallels.com
4             Jillanajphysic4@yellowbook.com
                       ...
995          Williewgravestonern@typepad.com
996        Samarasmcritchiero@wikispaces.com
997    Jocelinejjosefowiczrp@statcounter.com
998              Andreialestorrq@storify.com
999        Nikkienlangtryrr@sciencedaily.com
Length: 1000, dtype: object

In [37]:
duplicated()

0                   Salim_spound0@spotify.com
1                     Madelene_mlutas1@si.edu
2          Dolli_dswanbourne2@istockphoto.com
3             Graeme_gcroisier3@parallels.com
4             Jillana_jphysic4@yellowbook.com
                        ...
995          Willie_wgravestonern@typepad.com
996        Samara_smcritchiero@wikispaces.com
997    Joceline_jjosefowiczrp@statcounter.com
998              Andrei_alestorrq@storify.com
999        Nikkie_nlangtryrr@sciencedaily.com
Length: 1000, dtype: object

In [49]:
df.loc[:,df.columns!='email']
df.loc[:,df.columns!='gender']

,id,Full Name,Date of Birth,email,Job,Company,Country,Salary,Phone,Quote,Income,Income.1
0,1,Salim Pound,2/12/2018,spound0@spotify.com,Editor,Gigashots,Israel,19QtDp5HkyuZZqwwqzYPSSLuA7MXFCwfKL,610-741-3882,Compatible discrete leverage,46476.638080,$46476.6380809961
1,2,Madelene Lutas,9/20/2018,mlutas1@si.edu,VP Marketing,Wikivu,Mongolia,17ADLE8HiTj7m1tTbzboLDn7eiZ4TjetzZ,221-725-8860,Grass-roots real-time algorithm,54174.687950,$54174.6879482406
2,3,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Associate Professor,Dabfeed,Vietnam,16ThVxH72YAXWiEBeBZB1WYtXcfJMwUtoB,303-720-8280,Innovative system-worthy definition,5449.873348,$5449.87334818567
3,4,Graeme Croisier,9/29/2018,gcroisier3@parallels.com,Mechanical Systems Engineer,Trudoo,Bosnia and Herzegovina,1JLUVwmjHvxgh53C7Afie3pWbjrYxV9Fnx,673-794-9917,Customer-focused didactic extranet,46784.630880,$46784.6308786279
4,5,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Account Executive,Buzzshare,China,1DaEUNoAWL68pnvThSM5eBYgQMTv9mKyFG,709-146-6263,Progressive dynamic model,57486.495560,$57486.4955595568
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Willie Gravestone,1/17/2018,wgravestonern@typepad.com,Junior Executive,Cogilith,China,1NhweMA6xVPvFfYyQfRvusazTkMvuP8kap,717-137-5667,Automated content-based superstructure,33868.404190,$33868.4041871395
996,997,Samara McRitchie,12/10/2018,smcritchiero@wikispaces.com,Media Manager II,Edgewire,Philippines,1t9C9e457Z6efZCZ46Ywm84Xgw79WEBW9,583-849-4461,Proactive content-based throughput,46290.780360,$46290.7803582873
997,998,Joceline Josefowicz,10/18/2018,jjosefowiczrp@statcounter.com,Design Engineer,Mynte,Puerto Rico,13pFvvCyTz5AFNhk7ugp9G6aYA89wVJFns,934-388-0702,Phased transitional monitoring,24202.032530,$24202.0325327311
998,999,Andrei Lestor,1/16/2018,alestorrq@storify.com,Senior Editor,Reallinks,China,1CTz1ejJhKvKUvV7tMgQ97wCguJpRAVZan,706-201-1239,Organic dynamic strategy,54316.293830,$54316.2938322092
999,1000,Nikkie Langtry,10/30/2018,nlangtryrr@sciencedaily.com,Financial Advisor,Linklinks,Armenia,1JFRCVhkbkR9TFrS2RKezc7HKoteeUHzR,612-915-7537,Managed solution-oriented implementation,56477.000000,$56477